#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.webcam {
  display: flex;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.splash {
  text-align: center;
}

.predictions {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  line-height: 1.1;
}

.prediction {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  background: white;
  margin: 0.25em;
  padding: 0 0.25em;
  border: 1px solid currentColor;
  opacity: 0.2;
  will-change: opacity;
  transition: opacity 100ms;
}

.prediction.positive {
  opacity: 0.8;
}

.description {
  position: relative;
  padding: 1em;
  color: #213547;
  background: #ffffff;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.25em;
}
